body {
width: 100%;
}


table {
    border-spacing: 0;
}

table td {
    padding: 5px;
}


.items-management .items-list tr:hover {
    background-color: #46b8da;
}

.items-management .items-list img {
    width: 100px;
<<<<<<< HEAD
}

.topmenu {
	text-align: right;
	margin: 5px;
}

.search {
	float: right;
=======
>>>>>>> fa7507bb03d51524c8103d588f4e9aa74b5442b1
}