.layout-main {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.layout-main-header{
    vertical-align: top;
    background-color: #10536b;
    max-width: 900px;
    padding: 40px;
    height: 110px;
    position: relative;
    border-radius: 10px;
}
.layout-header{
    background: url(../../../regbg.jpg) repeat-y;
    background-size: cover;
    max-width: 1200px;
    margin: auto;
    height: 1000px;
    border-radius: 10px;
    border: 5px;
    border-color: #f8f8f0;
    border-style: solid;
}


input,select,button{
    padding-left: 10px;
    margin-left: 1cm;
    height: 35px;
    width: 12cm;
    border: 1px solid black;
    border-radius: 5px;
    vertical-align: middle;
    font-family: "Courier New", Courier, monospace;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 2px 6px -2px rgb(6, 91, 80) inset

}

button {
    height: 40px;
    width: 100px;
}

#mydiv {
    width:500px;
    padding-left: 350px;
    margin-top: 100px;
}
.regi {
    height: 20px;
    color: #32605e;
    position: absolute;
    top: 10px;
    right: 125px;
}
.logi {
    height: 20px;
    color: #32605e;
    position: absolute;
    top: 9px;
    right: 10px;
}





